body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
}

header a {
    text-decoration: none;
    color: currentColor;
}


.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  

.grid-main{
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sticky{
    position: sticky;
    top: 8px;
}



h1 {
    color: #000000;
    background: rgba(255, 255, 255, 0);
    font-size: 100px;
    font-family: "Poppins";
    line-height: 100px;
    
}

h2 {
    color: #000000;
    background: rgba(255, 255, 255, 0);
    font-size: 45px;
    font-family: "Poppins";
}


h3 {
    color: #000000;
    background: rgba(255, 255, 255, 0);
    font-size: 20px;
    font-family: "Poppins";
}




.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px;  */
    justify-items: center;
    gap: 24px;
    justify-items: center;
    align-items: center;
    font-size: 45px;
    font-family: "Poppins";
    font-weight: 1000;
    line-height: 100px;
}

.grid a {
    display: grid;
    background: black;
    color: white;
    text-decoration: none;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.grid a img,
.grid a video,
.grid a span {
    grid-column: 1/-1;
    grid-row: 1/-1;
}


.grid a span {
    opacity: 0;
}

.grid a:hover span {
    opacity: 1;
}

.grid a:hover img, 
.grid a:hover video {
    opacity: 0.5;
}

img,video {
    max-width: 100%;
    height: auto;
}


.nav {
    margin: 48px;
}

.nav a {
    color: #000;
    text-decoration: none;
    background-color: white;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #777;
    transition: 0.5s;
}

.nav a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #777;
  transition: 0.5s;
    
}


.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px; */
    justify-items: center;
    gap: 12px;
}

.item {
    background-color: white;
    height: 50px;
}

.item-01 {
    grid-column: 1/-1;
    justify-self: stretch;
}

.item-04 {
    background-color: red;
    justify-self: start;
}

.item-06 {
    justify-self: stretch;
    display: grid;
    justify-items: center;
    align-items: center;
}


.stickyexample {
    position: -webkit-sticky; /* for browser compatibility */
    position: sticky;
    top: 10px;
    background-color: #00ff00;
    padding: 3px;
  }
  body {
    margin: 0;
  }
  h1, .container-fluid {
    margin: 15px;
  }

 
  .line {
    border-bottom: 1px solid #888;
  }



  img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
 }

 video {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
   filter: gray; /* IE 6-9 */
}

video:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
 }

 * {
    box-sizing: border-box;
  }
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
  }
  
  .wrapper > div {
    border: 2px solid none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
    color: #060606;
  }
  

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .two {
    grid-column: 2/ 4;
    grid-row: 1/ 3;
  }

  
  dt {
    background-color: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    margin: 1em 0;
  }
  

  .Index a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Poppins" ;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid black;
    transition: 0.1s;
  }

  .Index a:hover{
    color:black
  }

  